<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-5">
    <div class="row" >
      <div class="col">
        <div class="card-header">
          <h3>Card View</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/check-out-v2}" th:object="${cartItem}" method="post">
          <div th:if="${!cartItems.isEmpty()}">
            <table class="table table-stripe">
              <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="item :${cartItems}">
                <th th:text="${item.id}"></th>
                <th th:text="${item.title}"></th>
                <th th:text="${item.price}"></th>
               <div th:if="${!item.render}"> <th th:text="${item.quantity}"></th> </div>
                <td th:if="${item.render}">
                  <input type="number" min="1" th:field="*{quantityLinkedList}" class="form-control"></td>

                <td >
                  <a th:href="@{'/cart/remove-cart?id='+${item.id}}" class="btn btn-outline-danger"><i
                          class="bi bi-trash"></i></a>
                </td>


              </tr>
              </tbody>
            </table>

            <h3 class="text-muted text-right">Total : $<span th:utext="${#numbers.formatDecimal(totalPrice,0,2)}"></span> </h3>
          </div>
          <div th:if="${cartItems.isEmpty()}">
            <div class="alert alert-success" role="alert">
              <p>No Cart Item!</p>
            </div>
          </div>

          <hr class="my-3">

          <div>
            <a th:href="@{/cart/clear-cart}" class="btn btn-outline-secondary">Clear Cart</a>
            <a th:href="@{/}" class="btn btn-outline-success">Continue Shopping</a>
            <a th:if="${!changeButton}" th:href="@{/check-out-v1}" class="btn btn-outline-info">CheckOut</a>
            <input type="submit" th:if="${changeButton}" th:href="@{/check-out-v2}" class="btn btn-outline-primary" value="Save">
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>